.chat-parent {
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    backdrop-filter: blur(100px);
    // overflow-x: hidden;
    box-sizing: border-box;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    * {
        overflow-x: hidden;
    }

    // .drag {
    //     width: 100%;
    //     height: auto;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     svg {
    //         width: auto;
    //         height: auto;
    //     }

    //     margin-bottom: 20px;
    // }

    .header {
        position: fixed;
        width: 95%;
        height: 3.5rem;
        background-color: var(--text-color);
        color: var(--background-color);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0% 5% 0% 2%;
        top: 0%;

        .info {
            width: 95%;
            height: 3.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.3rem;

            img.img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }

            .name-info {
                width: auto;
                height: 3.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                p {
                    margin: 0%;
                    padding: 0%;
                    font-size: 0.8rem;
                    font-weight: 600;
                }

                p.side {
                    font-weight: 400;
                    font-size: 0.7rem;
                }

            }
        }



        p.close {
            color: var(--background-color);
            cursor: pointer;
        }
    }

    .body {
        height: 100%;
        /* Ensures body takes full height of the container */
        padding: 10px;
        position: relative;
        top: 4rem;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto !important;
        margin-bottom: 1vw;

        .message {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            flex-grow: 1; /* Allows the message to grow and take available space */
            overflow-y: auto; /* Allows internal scrolling */
            min-height: 45vh;
            max-height: 45vh;
        
            @media screen and (max-width: 320px) {
                min-height: 30vh;
                max-height: 35vh;
            }

            @media screen and (max-width: 230px) {
                min-height: 30vh;
                max-height: 35vh;
            }
        
            .msg {
                padding: 5px;
                border-radius: 4px;
                margin-bottom: 5px;
                max-width: 60%;
                word-wrap: break-word;
                font-size: clamp(0.8vw, 8px, 0.8rem);
                line-height: 1.4;
                flex-shrink: 0;
            }
        }
        

        .options {
            display: flex;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: clamp(0.3rem, 5px, 0.6rem);
            position: absolute;
            bottom: 0%;
            flex-shrink: 0;
            /* Prevents options from shrinking */

            button {
                padding: 5px;
                border: none;
                border-radius: 4px;
                background-color: var(--text-color);
                color: var(--background-color);
                cursor: pointer;
                margin-bottom: 5px;
                text-align: center;
                outline: none;
                font-size: clamp(0.8vw, 8px, 0.8rem);
            }

            button:hover {
                background-color: var(--background-color);
                color: var(--text-color);
                border: 0.1px solid var(--text-color);
            }
        }
    }

    .user {
        background-color: var(--text-color);
        color: var(--background-color);
        align-self: flex-end;
        border: 1px solid var(--background-color);
    }

    .bot {
        background-color: var(--background-color);
        color: var(--text-color);
        align-self: flex-start;
        border: 1px solid var(--text-color);
    }





}

span a {
    background: linear-gradient(to right, #ff2063, #0F84EE, #ff2063, #0F84EE);
    -webkit-background-clip: text;
    /* For WebKit browsers */
    -webkit-text-fill-color: transparent;
    /* For WebKit browsers */
    background-clip: text;
    /* For other browsers */
    color: transparent;
    /* Fallback color */
    text-decoration: none;
}