.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;

    position: relative;
    top: 10vh;
    row-gap: 20px;
    margin-bottom: 5vh;

    .lines {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.25rem;

        &:last-of-type {
            flex-direction: column-reverse;
        }
    }

    @keyframes animateBg {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 100% 0%;
        }
    }

    .line {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        margin: 0%;

        &:hover {
            .blocks {
                animation: animateBg 1.8s linear infinite;
                background-size: 200% 100%;
                &:hover {
                    animation: scaleBlocks 0.5s ease-in-out forwards;

                    @keyframes scaleBlocks {
                        0% {
                            transform: scaleX(1);
                        }

                        50% {
                            transform: scaleX(1.01);
                        }
                        100% {
                            transform: scaleX(1);
                        }
                    }
                    &:nth-of-type(1) {
                        animation-delay: 0s;
                    }

                    &:nth-of-type(2) {
                        animation-delay: 0.5s;
                    }

                    &:nth-of-type(3) {
                        animation-delay: 1s;
                    }

                    &:nth-of-type(4) {
                        animation-delay: 1.5s;
                    }

                    &:nth-of-type(5) {
                        animation-delay: 2s;
                    }

                    &:nth-of-type(6) {
                        animation-delay: 2.5s;
                    }
                }
            }
        }
    }

    .blocks {
        animation: animateBg 1.8s linear infinite;
        background-size: 200% 100%;

        &:hover {
            transform: scaleX(1.01);

            &:first-of-type {
                transform: scaleX(1);
            }
        }
    }

    .line1,
    .line3,
    .line5 {
        .blocks {
            width: clamp(10vw, 150px, 6rem);
            height: clamp(1vw, 10px, 1rem);
            background-image: linear-gradient(to right, #ABE5A1, #0F84EE, #ABE5A1, #0F84EE);
            border-radius: 2px;
        }

        .blocks:nth-of-type(even) {
            background-image: linear-gradient(to right, #DB5779, #FF8000, #DB5779, #FF8000);
            width: clamp(8vw, 100px, 3rem);
        }

        .blocks:last-of-type {
            background-image: linear-gradient(to right, #313131, #FFFFFF, #313131, #FFFFFF);
            width: clamp(1vw, 10px, 1rem);
            border-radius: 50%;
        }
    }

    .line2,
    .line4 {
        .blocks {
            width: clamp(40vw, 800px, 8rem);
            height: clamp(1vw, 10px, 1rem);
            background-image: linear-gradient(to right, #ff2063, #0F84EE, #ff2063, #0F84EE);
            border-radius: 2px;
        }
    }

    .line2 {
        .blocks {
            width: clamp(40vw, 800px, 8rem);
        }
    }

    .line5 {
        padding-left: 10% !important;
    }

    .line4 .blocks {
        width: clamp(45vw, 150px, 10rem);
        margin-left: 7% !important;
    }

    .line3 {
        padding-left: 3%;

        .blocks {
            background-image: linear-gradient(to right, #DB5779, #FF8000, #DB5779, #FF8000);
            width: clamp(8vw, 100px, 3rem);
        }

        .blocks:nth-of-type(even) {
            width: clamp(10vw, 150px, 6rem);
            background-image: linear-gradient(to right, #ABE5A1, #0F84EE, #ABE5A1, #0F84EE);
        }

        .blocks:nth-of-type(2),
        .blocks:nth-of-type(5) {
            background-image: linear-gradient(to right, #313131, #FFFFFF, #313131, #FFFFFF);
            width: clamp(1vw, 10px, 1rem);
            border-radius: 50%;
        }

        .blocks:last-of-type,
        .blocks:nth-of-type(3) {
            background-image: linear-gradient(to right, #ABE5A1, #0F84EE, #ABE5A1, #0F84EE);
            border-radius: 2px;
        }

        .blocks:nth-of-type(4) {
            background-image: linear-gradient(to right, #DB5779, #FF8000, #DB5779, #FF8000);
        }
    }

    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: space-between;
        justify-content: space-between;
        margin-left: 2vw;
    }

    .img {
        width: 500px;
        max-width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: clamp(10vw, 205px, 20vw);
            height: clamp(10vw, 205px, 20vw);
            border: 0.1px solid rgb(170, 160, 170);
            border-radius: 50%;
            object-fit: cover;

            &:hover {
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .content {
        width: 700px;
        max-width: 80%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;


        h1,
        h3 {
            margin: 0%;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-size: clamp(2.5vw, 50px, 6.2vw);
        }

        h3 {
            font-size: clamp(1.8vw, 35px, 5.8vw);
        }

        p {
            text-align: start;
            font-size: clamp(0.8vw, 12px, 2.8vw);
            font-weight: 500;
            // font-size: clamp(0.8vw, 12px, 4.2vw);
        }
    }
}