<div class="photos-parent">
    <h3>{{title}}</h3>
    <!-- <div class="collage-container">
        <div *ngFor="let media of mediaItems" class="collage-item" [ngClass]="{
          'landscape': media.orientation === 'landscape',
          'portrait': media.orientation === 'portrait',
          'square': media.orientation === 'square'
        }">
          <img *ngIf="media.type === 'image'" [src]="media.url" alt="collage image">
          <video *ngIf="media.type === 'video'" [src]="media.url" autoplay loop muted playsinline></video>
        </div>
      </div> -->

      <div class="collage-container">
        <video [src]="mediaItems[5].url" autoplay loop muted playsinline></video>
        <img [src]="mediaItems[10].url" alt="collage image">
        <img [src]="mediaItems[12].url" alt="collage image">
        <img [src]="mediaItems[7].url" alt="collage image">
        <img [src]="mediaItems[14].url" alt="collage image">
        <video [src]="mediaItems[6].url" autoplay loop muted playsinline></video>
        <img [src]="mediaItems[3].url" alt="collage image">
        <img [src]="mediaItems[2].url" alt="collage image">
        <img [src]="mediaItems[9].url" alt="collage image">
        <img [src]="mediaItems[8].url" alt="collage image">
      </div>
      
</div>