.nav-parent {
    width: auto;
    height: 3.2rem;
    padding: 0% auto;
    margin: 0% auto;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;


    position: fixed;
    bottom: 0.7em;

    left: 50%;
    transform: translate(-50%);
    z-index: 2;


    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 290px;
        max-width: min(300px, 80%);
        min-width: 290px;
        height: 1.6rem;
        gap: 1.2rem;
        background-color: var(--background-color);
        backdrop-filter: blur(75px);

        border-radius: 50px;
        padding: 10px 15px;
        list-style-type: none;
        transition: 0.9s width ease-in-out;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);

        &:hover {
            width: 320px;
            max-width: 320px;
            max-height: 2rem;
            transition: 0.5s width ease-in-out;
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
        }

        .nav-sep{
            padding: 0%;
            width: 0%;
            margin: 0%;
            font-size: 35px;
            font-weight: 100;
            cursor: none;
        }

        .nav-link {
            transition: 0.25s transform ease-in-out;
            position: relative;
            top: 1px;
            border-radius: 50%;
            padding: 0%;
            margin: 0%;
            height: 22px;
            width: 22px;
            bottom: 4px;

            &:hover {
                transform: scale(1.15);
                transition: 0.25s transform ease-in-out;
                backdrop-filter: blur(50px);
                padding: 5px;

                // svg {
                //     fill: black !important;
                // }

                // svg.svg1 {
                //     fill: black !important;

                //     rect {
                //         fill: black !important;
                //     }
                // }

                // svg.svg-c {
                //     fill: black !important;
                //     stroke: black !important;

                //     path {
                //         fill: transparent;
                //     }
                // }
            }
        }
    }
}

::ng-deep .custom-tooltip {
    font-size: 0.75rem;
    padding: 4px 8px;
    top: -6px;
    z-index: 1000;
    // background-color: var(--background-color) !important;
    // color: var(--text-color) !important;
}