<div class="parent" [@lineAnimation]>
  <app-intro />
  <app-about [title]="content.a.title" [content]="content.a.content" />
  <app-accordian-comp [title]="'Experience'" [tabs]="experience" />
  <br />
  <app-accordian-comp [title]="'Education'" [tabs]="education" />
  <br />
  <app-skills [title]="'Skills'" [skills]="skills" />
  <br>
  <app-projects [title]="'My Projects'" [sub_text]="'Check out my latest work'"
    [text_content]="'Here are a few of my favourite'" [content]="projects" />
  <br />
  <app-photos [title]="'More About Me'" [mediaItems]="pics" />
  <br />
  <app-about [content]="content.b.content" />
  <br />
  <app-contact [title]="'Contact'" [sub_text]="'Get in Touch'"
    [content]="'Want to know more about me? Just shoot a dm to bot with a questions or else dm me. I\'ll respond whenever I can. I will ignore all soliciting.'" />
  
</div>