/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --background-color-light: #ffffff;
    --background-color-dark: #000000;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}



.light-theme {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

.dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

body,
html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    svg {
        fill: var(--text-color) !important;
    }

    svg.svg1 {
        fill: var(--text-color) !important;

        rect {
            fill: var(--background-color) !important;
        }
    }

    svg.svg-c {
        fill: var(--background-color) !important;
        stroke: var(--text-color) !important;

        path {
            fill: transparent;
        }
    }

    svg.svg-link {
        fill: var(--background-color) !important;
    }
}

html,
body {
    height: 100%;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
    margin: 0% !important;
    padding: 0% !important;
    color: var(--text-color) !important;
    border: 0.1px solid var(--text-color) !important;
    box-sizing: border-box !important;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--text-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--background-color); 
  }